
@model List<Aluno>

@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}


@if (TempData["MsgSucesso"] != null)
{
    <div class="alert-success">
        @TempData["MsgSucesso"]
    </div>
}



<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Nota</th>
            <th scope="col">CEP</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Idade</td>
                    <td>@aluno.Matrícula</td>
                    <td>@aluno.Nota</td>
                    <td>@aluno.Cep</td>

                    <td class="row col-md">
                        <div class="btn-group" role="group">
                            <a type="submit" class="btn btn-primary btn-sm" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Endereco</a>
                            <a type="button" class="btn btn-success  btn-sm" role="button" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id">Editar</a>
                            <a type="button" class="btn btn-danger btn-sm" role="button" asp-controller="Aluno" asp-action="ExcluirAluno" asp-route-id="@aluno.Id">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary  justify-content-md-center" style="margin: 0 15px; background-color:blueviolet;">
    <a class="nav-link text-white" asp-area="" asp-controller="Aluno" asp-action="Adicionar">Adicionar</a>
</button>

<button type="button" class="btn btn-primary justify-content-md-center" style="margin: 0 15px; background-color:blueviolet;">
    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
</button>
